build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
.vscode/
.ninja_deps
.ninja_log
*.VC.db
*.VC.opendb
*.exe
*.dll
*.lib
*.a
*.obj
*.o
*.pdb
glad/**/generated/
.idea/
!.idea/codeStyles/
!.idea/dictionaries/
!.idea/icon.png
*.DS_Store
*.cache
*.swp
*.swo
Thumbs.db
_FetchContent*
extern/*/build/
extern/*/bin/
extern/*/lib/
external/*/build/
external/*/bin/
external/*/lib/
*.log
*.dmp
*.user
*.userprefs
